<section class="header">

	

		<div id="heading">	
			<h1>WDI Sydney 2014</h1>
		</div> 

	
	

</section><!--End Slide 1-->

<%= render 'shared/nav' %>


<style>
#affix { display: none; position: fixed; top: 0;}
</style>


<section id="slide2">

	<div id="stack" class="container-fluid">
		<h2>The Stack</h2>
		<div class="row" id="skills-container">
			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-0">
				<%= image_tag('ruby.svg', size: "250x250") %>
				<div class="info">
					<h3>Ruby</h3>
					<ul>
						<li>Learn fundamental object-oriented programming with Ruby. Use variables, operators, conditionals, loops, methods, classes, and modules</li>
						<li>Research and implement Ruby gems to expand functionality</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-1">
				<%= image_tag('html5.svg', size: "250x250") %>
				<div class="info">
					<h3>HTML5</h3>
					<ul>
						<li>Practice the user-facing building blocks of the web: HTML tags</li>
						<li>Implementation and exposure to new syntactic features such as video, audio and canvas</li>
						<li>SVG usage and exposure</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-2">
				<%= image_tag('javascript.svg', size: "250x250") %>
				<div class="info">
					<h3>JavaScript</h3>
					<ul>
						<li>Integrate JavaScript into Rails apps</li>
						<li>Create interactive web pages responsive to events from user input devices</li>
						<li> Manipulate the DOM with events and animations using pure JavaScript</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-3">
				<%= image_tag('json.svg', size: "250x250") %>
				<div class="info">
					<h3>JSON</h3>
					<ul>
						<li>Use JavaScript Object Notation (JSON) to easily interpret manipulate, and transfer data in an object format between back-end and front-end</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-4">
				<%= image_tag('jquery.svg', size: "250x250") %>
				<div class="info">
					<h3>jQuery</h3>
					<ul>
						<li>Write jQuery (simplified JavaScript) to trigger responsive events and perform economical data interaction between PostgreSQL databases and the User Interface (UI) leveraging Asynchronous JavaScript (AJAX)</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-5">
				<%= image_tag('tests.svg', size: "250x250") %>
				<div class="info">
					<h3>Test Driven Development</h3>
					<ul>
						<li>Write Rails unit, functional, and integration tests using MiniTest and RSpec to build functionality by applying test-driven (TDD) and behaviour-driven (BDD) development techniques</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-6">
				<%= image_tag('comp-sci.svg', size: "250x250") %>
				<div class="info">
					<h3>Computer Science</h3>
					<ul>
						<li>Build programs using the appropriate data structures and algorithms to optimize performance</li>
						<li>Challenge skills with in-class coding tests</li>
						<li>Differentiate between various data structures and their purpose </li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-7">
				<%= image_tag('github.svg', size: "250x250") %>
				<div class="info">
					<h3>GitHub</h3>
					<ul>
						<li>Implement Git as a source control system by pushing, pulling, and merging code</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-8">
				<%= image_tag('rails.svg', size: "250x250") %>
				<div class="info">
					<h3>Rails</h3>
					<ul>
						<li>Understand Model-View-Controller (MVC) architecture</li>
						<li>Build custom apps by integrating models with databases, using routing techniques and controller logic, and implementing user-friendly views.</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-9">
				<%= image_tag('backbone.svg', size: "250x250") %>
				<div class="info">
					<h3>Backbone.js</h3>
					<ul>
						<li>Organize JavaScript projects using the Model-View-Controller (MVC) architecture to provide the student developers the freedom to design a full User Experience (UX) using JavaScript.</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-10">
				<%= image_tag('css3.svg', size: "250x250") %>
				<div class="info">
					<h3>CSS3</h3>
					<ul>
						<li>Use new cutting edge CSS3 properties to transform and style projects.</li>
						<li>Feature 2D/3D animations, transitions, animations, box model, background, and image effects</li>
					</ul>
				</div>
			</div>

			<div class="skillbox col-md-3  col-sm-4 col-xs-6 box-11">
				<%= image_tag('sass.svg', size: "250x250") %>
				<div class="info">
					<h3>Sass</h3>
					<ul>
						<li>Use Syntactically Awesome Stylesheets (Sass) to extend CSS3 and the Rails Asset Pipeline</li>
						<li>Write Mixins and Variables for efficient code reuse and flexible adjustment</li>
					</ul>
				</div>
			</div>

		</div>

	</div>

</section> <!-- end slide 2 -->


<section class="class-shot">


</section><!--End Slide 3-->

<section id="slide4">
	
	<div  class="clearfix">
		<div id="home-section4" class="container-fluid clearfix">
			<h2>Students and Staff</h2>
			<div class="row clearfix">
				<div class="col-sm-4 students">
					<h3>Students</h3>
					<%= link_to image_tag('graduation-cap-icon.svg', height: "200px" ), users_path %>
					<p><%= link_to 'View all students', users_path %></p>
				</div>
				<div class="col-sm-4 teachers">
					<h3>Daniel Tsui</h3>
					<p>Instructor/Developer In Residence at General Assemb.ly. Passion for JavaScript and Ruby on Rails.</p>
					<%= image_tag('dt.jpg') %>
				</div>
				<div class="col-sm-4 teachers">
					<h3>Taryn East</h3>
					<p>Instructor/Developer at General Assemb.ly. Passion for Ruby on Rails.</p>
					<%= image_tag('taryn.jpg') %>
				</div>
			</div>
		</div>
	</div>
	


</section><!--End Slide 4-->



<script>
$(".skillbox").mouseenter(function() {
	$(this).children('.info').first().animate({marginTop: '-=240px'}, 700);
	$(this).addClass('img-grey');
	$(this).removeClass('img-color');
});
$(".skillbox").mouseleave(function() {
	$(this).children('.info').first().animate({marginTop: '+=240px'}, 700);
	$(this).removeClass('img-grey');
	$(this).addClass('img-color');
});
</script>
<script>
$(document).ready(function(){
	var $affixTop = $('#affix');
	var $imageHeight = $('.header').height();
	var $body = $('body');
	var $heading = $('#heading');

	$(window).on('scroll', function(){
		if (this.scrollY >= $imageHeight) {
			$affixTop.slideDown(200);
		}
		if (this.scrollY <= $imageHeight) {
			$affixTop.hide();
		}	
		if ($body.scrollTop() > 800) {
			$heading.css('display', 'none');
		} else if ($body.scrollTop() <= 800) {
			$heading.css('display', 'block');
		}
	});
});
</script>

<script>
$(document).ready(function(){
	$('html, body').animate({ scrollTop: 0 }, 'slow');
});
</script>







