<!DOCTYPE html>
<html>
<head>
  <title>Codium</title>
  <%= stylesheet_link_tag    "application", media: "all", :cache => true, "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css' async='true' cache='true' cache-control='public' max-age='604800'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,100,900' rel='stylesheet' type='text/css' async='true' cache='true' cache-control='public' max-age='604800'>

  <%= javascript_include_tag "application", :cache => true, "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>



  

  <%= yield %>

<footer>
  <%= render 'shared/footer' %>
</footer>
</body>
</html>
